/target/
!.mvn/wrapper/maven-wrapper.jar
/sharpicloud/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
spy.log
client.json
*/target/
/sharpicloud/public/*
/sharpicloud/tmp/*
/sharpicloud/work/*
*.exe
*.dll
*.log
*.dat